@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #ffffff;
  font-family: "Playfair Display", sans-serif;
}

.github-link {
  position: fixed;
  top: 16px;
  right: 16px;
  z-index: 1000;
}

.github-icon {
  width: 40px;
  height: 40px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.github-icon:hover {
  transform: scale(1.1);
}
